/* Main CSS Sheet - Text/Link styling + Responsiveness */

/* Import components stylesheets */
@import url("components/about_section.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/footer.css");
@import url("components/general.css");
@import url("components/header.css");
@import url("components/hero_banner.css");
@import url("components/icon.css");
@import url("components/image_carousel.css");
@import url("components/lewagon_video_section.css");
@import url("components/social_links.css");



/* Responsiveness */
@media (max-width: 900px) {
  /* For a screen < 900px, this CSS will be read */
}

@media (max-width: 750px) {
  /* For a screen < 750px, this CSS will be read */

  .hgn-logo-video {
    width: 410px;
    height: 231px;
  }

  .fullstack-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }
}

@media (max-width: 640px) {
  /* For a screen < 640px, this CSS will be read */
  .card-white {
    padding: 32px 20px;
  }

  .hgn-logo-video {
    width: 290px;
    height: 163px;
  }
}

@media (max-width: 420px) {
  /* For a screen < 420px, this CSS will be read */
  .hgn-logo-video {
    width: 256px;
    height: 144px;
  }
}

@media (max-width: 375px) {
  /* For a screen < 375px, this CSS will be read */
  .hgn-logo-video {
    width: 220px;
    height: 124px;
  }
}
