/* Text Styling */
h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #222831;
  font-size: 40px;
  margin: 0px;
}
h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #00ADB5;
  font-size: 32px;
  margin-bottom: 16px;
  margin-top: -8px;
}
a {
  text-decoration: none;
  line-height: 8px;
  color: #FA8334;
}
a:hover {
  font-weight: bold;
}
body {
  background: radial-gradient(circle, rgba(250,131,52,0.5) 0%, rgba(212,210,213,0.5) 25%, rgba(0,212,255,0.5) 60%, rgba(18,94,138,0.5) 100%);
  font-family: 'Open Sans Condensed', sans-serif;
  color: #222831;
  font-size: 16px;
  text-align: center;
}
p {
  margin: 4px 8px 16px;
  padding: 16px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
.bootcamp-info {
  list-style: none;
  text-align: left;
}
.fullstack-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.bootcamp-info p {
  padding: 0px 16px;
  margin: 8px 8px 16px;
}



/* Testing something for icons */
.icon {
  wtext-align:center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.icon:hover, .icon:active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}



/* Components styling */
.container {
  width: 800px;
  margin: 40px auto;
}
.img-circle {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
}
.btn-contact {
  background-color: #125E8A;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  margin-top: 16px;
}
.btn-contact:hover {
  opacity: 80%;
  padding: 12px 18px;
  border-radius: 4px;
}
.card-white {
  background: white;
  padding: 40px 56px;
  margin: 20px 0px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px rgb(230 230 230 / 50%);
}
.card-white h1 {
  margin-bottom: 16px;
}



/* Projects Section */
.card-project {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  align-items: center;
  margin-bottom: 24px;
  border-radius: 4px;
}
.card-project img {
  height: 100%;
  width: 75%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.card-project p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-project-infos {
  padding: 32px 16px 16px 16px;
  align-self: baseline;
}



/* Social Link list items */
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.li {
  display: list-item;
}
.list-inline i {
  font-size: 44px;
  color: #D4D2D5;
}
.list-inline i:hover {
  color: #125E8A;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}



/* Responsiveness */
@media (max-width: 900px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 730px;
  }
}
@media (max-width: 750px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
  .fullstack-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
  }
}
@media (max-width: 640px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 420px;
  }
}
@media (max-width: 420px) {
  .container {
    width: 390px;
  }
  .fullstack-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  li:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }
  li:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
}
@media (max-width: 375px) {
  .container {
    width: 350px;
  }
}
