/* Text Styling */
h1 {
  color: #222831;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}
h2 {
  color: #00ADB5;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 0px;
  margin-bottom: 24px;
}
a {
  font-weight: bold;
  text-decoration: none;
  line-height: 8px;
  text-align: center;
}
body {
  background: #EEEEEE;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #393E46;
  font-size: 16px;
  text-align: center;
}
p {
  margin: 4px 8px 16px;
  padding: 16px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
.bootcamp-info {
  list-style: none;
  text-align: left;
}
.fullstack-icons {
 display: inline;
 text-align: center;
}
.bootcamp-info p {
  padding: 0px;
  margin: 0px;
}


/* Components styling */
.container {
  width: 800px;
  margin: 40px auto;
}
.img-circle {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
  margin-top: 8px;
  border: 1px solid lightseagreen;
}
.btn-contact {
  background-color: lightseagreen;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
}
.btn-contact:hover {
  opacity: 80%;
  color: white;
  padding: 12px 18px;
  border-radius: 4px;
}
.card-white {
  background: white;
  padding: 40px 56px;
  margin: 20px 0px;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}
.card-white h1 {
  margin-bottom: 16px;
}


/* Projects Section */
.card-project {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  align-items: center;
  margin-bottom: 24px;
  border-radius: 4px;
}
.card-project img {
  height: 100%;
  width: 75%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}
.card-project p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.card-project-infos {
  padding: 16px;
  align-self: baseline;
}



/* Social Link list items */
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.li {
  display: list-item;
}
.list-inline i {
  font-size: 44px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
  font-size: 40px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}



/* Responsiveness */
@media (max-width: 900px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 730px;
  }
}
@media (max-width: 750px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 640px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 420px;
  }
}
@media (max-width: 420px) {
  .container {
    width: 390px;
  }
}
@media (max-width: 375px) {
  .container {
    width: 350px;
  }
}
