/* Avatar Styling */
.img-circle {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.img-circle:hover {
  border-radius: 25%;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
