/* Button Styling */
.button {
  width: fit-content;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Raleway", sans-serif;
  background-color: #e9e9e9;
  color: black;
}

.button--large {
  padding: 16px 32px;
  border-radius: 32px;
}

.button--small {
  padding: 12px 24px;
  border-radius: 24px;
}

.button:hover {
  transform: scale(1.05);
  color: #fa8334;
  font-weight: bold;
  background-color: #d5d4d2;
}

.btn-cv {
  display: flex;
  align-items: center;
  margin: 16px auto 0;
}

.btn-cv:hover {
  opacity: 80%;
  transform: scale(1.1);
}

.btn-svg {
  width: 16px;
  height: 16px;
  padding-left: 8px;
}
