/* Button Styling */
.btn-cv {
  display: flex;
  align-items: center;
  margin: 16px auto 0;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-cv:hover {
  opacity: 80%;
  transform: scale(1.1);
}

.btn-svg {
  width: 16px;
  height: 16px;
  padding-left: 8px;
}
