/* Button Styling */
.button--primary {
  width: fit-content;
  padding: 16px 32px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-cv {
  display: flex;
  align-items: center;
  margin: 16px auto 0;
}

.btn-cv:hover {
  opacity: 80%;
  transform: scale(1.1);
}

.btn-svg {
  width: 16px;
  height: 16px;
  padding-left: 8px;
}
