.project-card__container {
  display: grid;
  margin-top: 44px;
  gap: 32px;
  grid-template-columns: 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  margin-bottom: 32px;
}

.project-card__title {
  font-size: 28px;
  padding-bottom: 8px;
}

.project-card__img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.project-card__btn {
  margin-top: 12px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .project-card {
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) {
  .project-card__container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1440px) {
  .project-card__container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-card {
    height: 400px;
  }
}
