/* Main Card Styling */

.card-white {
  background: white;
  padding: 40px 56px;
  margin: 0px 12px 70px;
  border-radius: 4px;
  box-shadow: 0px 0px 24px rgb(50 50 50 / 50%);
}

.card-white h1 {
  margin-bottom: 16px;
}


/* Projects Card Styling */
.card-project {
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 12px;
  text-align: center;
}

.card-project__image {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card-project__image:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.hgn-logo-video {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

.hgn-logo-video:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.card-project-infos {
  padding: 24px;
  text-align: left;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-container {
    display: flex;
    grid-gap: 32px;
  }

  .card-project {
    width: 33%;
  }

  .card-project-infos {
    padding: 36px;
  }
}
