.floating-background {
  width: 200vw;
  height: 200vw;
  background-color: rgba(50, 231, 255, 0.8);
  position: absolute;
  bottom: -145vw;
  left: calc(50% - 100vw);
  border-radius: 45%;
  animation: rotate 30s infinite;
  z-index: -1;
  opacity: 0.3;
}

.floating-background::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(50, 231, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotate 30s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .floating-background {
    bottom: -165vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .floating-background {
    bottom: -175vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .floating-background {
    bottom: -185vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1800px) {
  .floating-background {
    bottom: -190vw;
  }
}
