.footer {
  padding: 20px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.footer.section {
  margin-bottom: 0;
}

.footer__text {
  font-size: 16px;
}

.footer__contact-header {
  color: #d4d2d5;
  margin-bottom: 8px;
}

.footer__copyright {
  font-size: 12px;
  margin: 32px auto 0;
}

.footer__contact-form {
  display: flex;
  flex-direction: column;
  background-color: #00adb5;
  border-radius: 8px;
  padding: 16px;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 8px #00505b;
  gap: 4px;
}

.footer__contact-form input,
.footer__contact-form textarea {
  width: 90%;
  padding: 12px;
  margin: 4px 0;
  border-radius: 8px;
  border: none;
  font-family: "Raleway", sans-serif;
}

.footer__contact-form .button {
  margin-top: 8px;
}

.footer__contact-icon {
  position: absolute;
  transform: rotate(12deg) scale(2.5);
  bottom: -8px;
  right: 4px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer__copyright {
    font-size: 16px;
  }
}
