.footer {
  padding: 100px 0 60px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footer.section {
  margin-bottom: 0;
}

.footer__text {
  font-size: 12px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer {
    padding: 140px 0 80px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 120px 0 80px;
  }

  .footer__text {
    font-size: 16px;
  }
}

/* Large screens (desktops and large screens, 1800px and up) */
@media only screen and (min-width: 1800px) {
  .footer {
    padding: 150px 0 80px;
  }
}
