.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: -1px;
  z-index: 1000;
  transition: 0.3s;
  padding: 14px 10px;
}

.header-links {
  display: flex;
}

.header-link {
  padding: 0 8px;
}

.header-logo {
  width: 32px;
  height: 32px;
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.dark h1 {
  color: #D4D2D5;
}

@media only screen and (min-width: 600px) {
  .header-logo {
    width: 40px;
    height: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header {
    padding: 20px 75px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 90px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    padding: 20px 125px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    padding: 20px 180px;
  }
}

@media only screen and (min-width: 1900px) {
  .header {
    padding: 20px 330px;
  }
}
