.hero-banner {
  display: block;
  position: relative;
  z-index: 1;
  height: 80vh;
  justify-content: center;
  align-items: center;
  padding: 0 64px;
  margin-bottom: 140px;
}

.hero-banner__background {
  position: absolute;
  z-index: -1;
  top: -90px;
  right: 0;
  width: 100%;
  height: 130%;
  opacity: 0.25;
  background-image:
    linear-gradient(to bottom,
      rgba(255, 10, 10, 0.9) 10%,
      rgba(64, 64, 64, 0) 60%,
      rgba(18, 94, 138, 1) 100%),
    url("../../images/herobannerbg.jpg");
  background-size: cover;
  background-position: top;
  filter: blur(4px);
}

.hidden {
  display: none;
}

.hero-banner__glasses {
  width: 191px;
  z-index: 1000;
  transition: 1s;
}

.hero-banner__image-container {
  width: 360px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.hero-banner__image {
  width: 100%;
  position: relative;
  border-radius: 8%;
  top: 24px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.hero-banner__subtitle {
  border-bottom: 1px solid white;
  padding-bottom: 12px;
  margin-bottom: 36px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-banner {
    display: block;
    position: relative;
    z-index: 1;
    height: 75vh;
    justify-content: center;
    align-items: center;
    padding: 40px 64px 0;
    margin-bottom: 100px;
  }

  .hero-banner__content {
    text-align: center;
    padding: 36px 0;
  }

  .hero-banner__subtitle {
    border-bottom: 1px solid white;
    padding-bottom: 12px;
    margin-bottom: 36px;
  }

  .hero-banner__image-container {
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero-banner {
    display: flex;
  }

  .hero-banner__content {
    text-align: center;
    padding-right: 60px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero-banner {
    margin-bottom: 150px;
  }

  .hero-banner__content {
    padding-right: 170px;
  }

  .hero-banner__subtitle {
    border-bottom: 1px solid white;
    padding-bottom: 12px;
    margin-bottom: 36px;
  }

  .hero-banner__image-container {
    height: 360px;
  }

  .hero-banner__image:hover {
    filter: grayscale(0%);
    transition: 0.3s;
    transform: scale(1.1);
  }

  .hero-banner__image:hover+.hidden {
    display: block;
    position: relative;
    rotate: 4deg;
    transition: 1s;
    top: -256px;
    left: 84px;
  }
}
