.fullstack-icons {
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  width: 36px;
  height: 36px;
  transition: all 0.3s ease-in-out;
}

.icon:hover,
.icon:active {
  transform: scale(1.2);
}

@media only screen and (min-width: 1025px) {
  .fullstack-icons {
    grid-gap: 12px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
