.lewagon-video {
  margin-top: 24px;
  align-self: center;
}

.lewagon-video iframe {
  width: 300px;
  height: 170px;
  border-radius: 16px;
  box-shadow: 2px 2px 8px #131313;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .lewagon-video iframe {
    width: 360px;
    height: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .lewagon-video iframe {
    width: 450px;
    height: 252px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) {
  .lewagon-video iframe {
    height: 280px;
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
  .lewagon-video iframe {
    height: 220px;
    width: 400px;
  }
}
