.lewagon-video {
  position: relative;
  text-align: center;
  margin-top: 36px;
}

.lewagon-video iframe {
  width: 300px;
  height: 170px;
  border-radius: 16px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .lewagon-video iframe {
    width: 360px;
    height: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .lewagon-video iframe {
    width: 450px;
    height: 252px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .lewagon-video iframe {
    height: 280px;
    width: 500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .lewagon-video iframe {
    height: 360px;
    width: 650px;
  }
}

/* Extra large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1900px) {
  .lewagon-video iframe {
    height: 415px;
    width: 740px;
  }
}
