.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  padding: 16px 10px;
  background-color: #222831;
  box-shadow: 0.1rem 0.5rem 1rem rgb(42 42 42);
  margin-bottom: 60px;
  position: sticky;
  top: -2px;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  width: 32px;
  height: 32px;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  padding: 0 8px;
  display: inline-block;
  position: relative;
}

.navbar-link::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-link:hover::before {
  transform: scaleX(1);
  color: white;
  transform-origin: bottom left;
}

.change.navbar-link {
  color: white;
}

.change.navbar-link::before {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .navbar-logo {
    width: 40px;
    height: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    padding: 16px 75px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 16px 90px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 16px 125px;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    padding: 16px 180px;
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1900px) {
  .navbar {
    padding: 16px 330px;
  }
}
