.work__img-text-wrapper {
  display: flex;
  align-items: center;
}

.work__text-wrapper {
  border-bottom: 2px solid white;
  padding: 24px 0;
}

.work__text-wrapper:first-of-type {
  padding-top: 0;
}

.work__text-wrapper:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.work__img {
  display: none;
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .work__img {
    display: block;
    width: 25%;
    height: 100%;
    border-radius: 16px;
    margin-right: 60px;
    filter: grayscale(100%);
  }
}
