.personal-projects__content {
  display: inline;
}

.personal-projects__text {
  width: 100%;
  padding-top: 0;
}

.personal-projects__images {
  padding-bottom: 36px;
  text-align: -webkit-center;
  position: relative;
}

.project__img {
  display: block;
  max-width: 280px;
  max-height: 140px;
  box-shadow: 2px 2px 8px #131313;
  transition: all 0.3s ease-in-out;
}

/* Top desktop image */
.project__img:nth-of-type(1) {
  position: relative;
  border-radius: 16px;
  rotate: 1deg;
  z-index: 2;
  left: 0;
}

.project__img:nth-of-type(1):hover {
  rotate: -1deg;
  z-index: 10;
  transform: scale(1.1);
}

/* Left mobile image */
.project__img:nth-of-type(2) {
  position: absolute;
  border-radius: 8px;
  z-index: 3;
  rotate: -2deg;
  top: 60px;
  left: -10px;
}

.project__img:nth-of-type(2):hover {
  rotate: 2deg;
  z-index: 10;
  transform: scale(1.2);
}

/* Bottom desktop image */
.project__img:nth-of-type(3) {
  position: relative;
  border-radius: 16px;
  left: 0;
  top: -12px;
  rotate: -1deg;
  z-index: 1;
}

.project__img:nth-of-type(3):hover {
  z-index: 10;
  rotate: 1deg;
  transform: scale(1.1);
}

/* Right mobile image */
.project__img:nth-of-type(4) {
  position: absolute;
  border-radius: 8px;
  top: 60px;
  right: -10px;
  z-index: 3;
  rotate: 2deg;
}

.project__img:nth-of-type(4):hover {
  rotate: -2deg;
  z-index: 10;
  transform: scale(1.2);
}

@media only screen and (min-width: 992px) {
  .personal-projects__content {
    display: flex;
    gap: 140px;
    align-items: center;
  }

  .personal-projects__content:not(.personal-projects__content:first-of-type) {
    padding-top: 36px;
  }

  .personal-projects__content .fullstack-icons {
    padding-top: 16px;
  }

  .personal-projects__text {
    width: 150%;
  }

  .personal-projects__images {
    padding-bottom: 0;
  }

  .project__img {
    max-width: 450px;
    max-height: 200px;
  }

  .project__img:nth-of-type(1) {
    left: 30px;
  }

  .project__img:nth-of-type(2) {
    top: 100px;
    left: -20px;
  }

  .project__img:nth-of-type(3) {
    left: 40px;
  }

  .project__img:nth-of-type(4) {
    top: 100px;
    right: -80px;
  }
}
