.about-me__image-container {
  width: 72%;
  height: fit-content;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.about-me__image {
  width: 140%;
  border-radius: 16%;
  position: relative;
  top: 8px;
  right: 1px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.about-me__image:hover {
  filter: grayscale(0%);
  transition: 0.3s;
  transform: scale(1.1);
}

.about-me__title {
  border-bottom: 1px solid white;
}

.about-me__text {
  margin-bottom: 36px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .about-me__text {
    margin-bottom: 44px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
}

@media only screen and (min-width: 1900px) {
}
