.education__content-wrapper {
  display: flex;
  flex-direction: column;
}

.education__image-container {
  width: 72%;
  height: fit-content;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.education__image {
  width: 140%;
  border-radius: 16%;
  position: relative;
  top: 8px;
  right: 1px;
  filter: grayscale(100%);
  transition: 0.3s;
}

.education__image:hover {
  filter: grayscale(0%);
  transition: 0.3s;
  transform: scale(1.1);
}

.education__title {
  border-bottom: 1px solid white;
}

.education__text {
  margin-bottom: 36px;
}

@media only screen and (min-width: 992px) {
  .education__content-wrapper {
    flex-direction: row;
    gap: 100px;
  }
}
