.personal-projects__content {
  display: inline;
}

.personal-projects__text {
  padding-bottom: 36px;
}

@media only screen and (min-width: 600px) {
  .personal-projects__content {
    display: flex;
  }

  .personal-projects__text {
    padding-right: 100px;
    padding-bottom: 0;
  }
}
