.personal-projects__content {
  display: inline;
}

.personal-projects__text {
  width: 100%;
  padding-top: 36px;
}

@media only screen and (min-width: 992px) {
  .personal-projects__content {
    display: flex;
    gap: 100px;
  }

  .personal-projects__text {
    width: 150%;
    padding-top: 0;
  }
}
