.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: -webkit-center;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  max-height: 300px;
  max-width: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  max-height: 300px;
  max-width: 300px;
}

.section__content {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

.text-swipers-group {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 351px;
}

.project-toggle-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.swipers {
  display: flex;
}

.button-group {
  display: flex;
  align-self: center;
  margin: 0 auto 20px;
  box-shadow: 2px 2px 8px #202020;
}

.button--blender-projects {
  background: #fa8334;
  padding: 8px 12px;
  border-radius: 8px 0px 0px 8px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button--blender-projects:hover:not(.selected) {
  background: #ffa163;
  transform: scale(1.05);
}

.button--blender-projects:first-of-type {
  border-radius: 8px 0 0 8px;
  border-right: 2px solid white;
}

.button--blender-projects:last-of-type {
  border-radius: 0 8px 8px 0;
  border-left: 2px solid white;
}

.button--blender-projects.selected {
  background: #a05320;
}

/* Swiper img section change */
.text-img-group {
  display: flex;
  gap: 24px;
  padding-top: 16px;
  align-items: center;
}

.text-img-group:first-of-type {
  flex-direction: column-reverse;
}

.text-img-group:last-of-type {
  flex-direction: column;
  padding-bottom: 8px;
}

.text-img-group p {
  margin: 0;
}

.blender-img--small {
  border-radius: 12px;
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 8px #202020;
  transition: all 0.3s ease-in-out;
}

.blender-img--small:hover {
  transform: scale(1.05);
}

.blender-img--small:nth-child(odd) {
  rotate: -1deg;
}

.blender-img--small:nth-child(even) {
  rotate: 1deg;
}

.blender-img--small:nth-child(odd):hover {
  rotate: 1deg;
}

.blender-img--small:nth-child(even):hover {
  rotate: -1deg;
}

@media only screen and (min-width: 1200px) {
  .section__content {
    flex-direction: row;
    gap: 100px;
  }

  .text-swipers-group {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 451px;
    max-width: 400px;
    max-height: 451px;
  }

  .text-img-group {
    flex-direction: row;
    gap: 24px;
  }

  .text-img-group:first-of-type {
    flex-direction: row;
  }

  .text-img-group:last-of-type {
    flex-direction: row;
    padding-bottom: 0;
  }

  .blender-img--small {
    width: 125px;
    height: 125px;
  }

  .swiper-slide {
    width: 300px;
    height: 300px;
    max-height: 400px;
    max-width: 400px;
  }

  .swiper-slide img {
    max-height: 400px;
    max-width: 400px;
  }
}
